{"swagger":"2.0","info":{"description":"Schedules APIs from PAS","version":"1842","title":"Schedules"},"host":"api-gateway.b7ad-use1.30e5c8e.hsp.philips.com","basePath":"/v1/schedules/resources","tags":[],"schemes":["https"],"security":[{"BearerAuth":[]}],"paths":{"/api/schedules/integrated-schedule/active-physicians":{"get":{"tags":["Schedules"],"summary":"This method will get all active physicians, the maxResult informed will divide de physicians list by pages and you can see the result of each page with the page number","description":"This method will get all active physicians, the maxResult informed will divide de physicians list by pages and you can see the result of each page with the page number","operationId":"activePhysicians","produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"the page you want to visualize","required":false,"type":"integer","format":"int32"},{"name":"maxResults","in":"query","description":"the maximum results per page","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"List of active physicians","schema":{"type":"array","items":{"$ref":"#/definitions/ActivePhysicianDTO"}}},"500":{"description":"Status Error, Error message","examples":{"application/json":{"status":"400","message":"No returnable results wtih the selected filter."}},"schema":{"$ref":"#/definitions/DefaultResponse"}}}},"parameters":[]},"/api/schedules/integrated-schedule/integrated-appointments":{"get":{"tags":["Schedules"],"summary":"This method returns all appointments made in the integrated schedule filtered by informed parameters","description":"This method returns all appointments made in the integrated schedule filtered by informed parameters","operationId":"get_22","produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The page you want to bring the results","required":false,"type":"integer","default":1,"format":"int32"},{"name":"maxResults","in":"query","description":"The maximum amount of results that will be returned","required":false,"type":"integer","default":100,"format":"int32"},{"name":"establishmentCode","in":"query","description":"Establishment identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"integer","format":"int64"},{"name":"protocolCode","in":"query","description":"Protocol identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** NR_SEQUENCIA","required":false,"type":"integer","format":"int64"},{"name":"scheduleType","in":"query","description":"Type of appointment. \n\n**Referenced Table:** AGENDA_INTEGRADA_ITEM \n\n**Referenced Column:** IE_TIPO_AGENDAMENTO","required":false,"type":"string"},{"name":"statusCode","in":"query","description":"Appointment status code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** NR_SEQ_STATUS","required":false,"type":"string"},{"name":"tasyStatusCode","in":"query","description":"Tasy status code. \n\n**Referenced Table:** AGENDA_INTEGRADA_STATUS \n\n**Referenced Column:** IE_STATUS_TASY","required":false,"type":"string"},{"name":"startDate","in":"query","description":"Date when the appointment scheduling started. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** DT_INICIO_AGENDAMENTO","required":true,"type":"string"},{"name":"endDate","in":"query","description":"Date when the appointment scheduling ended. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** DT_INICIO_AGENDAMENTO","required":true,"type":"string"},{"name":"startUpdateDate","in":"query","description":"Appointment scheduling modified date started. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** DT_ATUALIZACAO","required":false,"type":"string"},{"name":"endUpdateDate","in":"query","description":"Appointment scheduling modified date ended. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** DT_ATUALIZACAO","required":false,"type":"string"},{"name":"companyCode","in":"query","description":"Enterprise identifier code of the patient. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_EMPRESA","required":false,"type":"integer","format":"int64"},{"name":"insuranceCode","in":"query","description":"Insurance identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_CONVENIO","required":false,"type":"integer","format":"int64"},{"name":"insuranceCategoryCode","in":"query","description":"Insurance category identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_CATEGORIA","required":false,"type":"integer","format":"int64"},{"name":"insurancePlanCode","in":"query","description":"Insurance plan identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_PLANO","required":false,"type":"integer","format":"int64"},{"name":"insuranceCard","in":"query","description":"Insurance card number. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_USUARIO_CONVENIO","required":false,"type":"string"},{"name":"insuranceAuthGuide","in":"query","description":"Insurance authorization guide code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** NR_DOC_CONVENIO","required":false,"type":"string"},{"name":"username","in":"query","description":"Tasy user who modified the appointment scheduling. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** NM_USUARIO","required":false,"type":"string"},{"name":"patientCode","in":"query","description":"Patient identifier code. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"integer","format":"int64"},{"name":"patientName","in":"query","description":"Patient name. \n\n**Referenced Table:** AGENDA_INTEGRADA \n\n**Referenced Column:** NM_PACIENTE","required":false,"type":"string"},{"name":"patientTaxPayerId","in":"query","description":"Patient tax payer id. \n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** NR_CPF","required":false,"type":"string"},{"name":"physicianCode","in":"query","description":"Physician identifier code of the appointment. \n\n**Referenced Table:** AGENDA_INTEGRADA_ITEM \n\n**Referenced Column:** CD_MEDICO","required":false,"type":"integer","format":"int64"},{"name":"physicianName","in":"query","description":"Physician name. \n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** NM_PESSOA_FISICA","required":false,"type":"string"},{"name":"physicianTaxPayerId","in":"query","description":"Physician tax payer id. \n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** NR_CPF","required":false,"type":"string"},{"name":"physicianCRM","in":"query","description":"Physician medical license number \n\n**Referenced Table:** MEDICO \n\n**Referenced Column:** NR_CRM","required":false,"type":"string"},{"name":"physicianUF","in":"query","description":"Physician medical license state \n\n**Referenced Table:** MEDICO \n\n**Referenced Column:** UF_CRM","required":false,"type":"string"},{"name":"physicianType","in":"query","description":"Physician professional registration type","required":false,"type":"string"}],"responses":{"200":{"description":"List appointments made in the Integrated Schedule","schema":{"$ref":"#/definitions/IntegratedSchedulePagedResponse"}},"400":{"description":"This status is returned in case of results not found or not pass in param checks","examples":{"application/json":{"message":"No returnable results wtih the selected filter","status":"400"}},"schema":{"$ref":"#/definitions/DefaultResponse"}}}},"parameters":[]},"/api/schedules/exams/book-time":{"post":{"tags":["Schedules"],"summary":"This method book time for the schedule sent by parameters","description":"This method book time for the schedule sent by parameters","operationId":"bookTime_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ExamsScheduleEntityVO"}}],"responses":{"200":{"description":"The exams schedule was booked successfully","examples":{"application/json":{"status":"Success","message":"Successfully booked"}}},"400":{"description":"Bad Request","examples":{"application/json":{"status":"Error","message":"Error message"}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"Not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Status Error, error message","examples":{"application/json":{"status":"Error","message":"Error message"}}}}},"parameters":[]},"/api/schedules/integrated-schedule/record-schedule":{"post":{"tags":["Schedules"],"summary":"This method record an appointment or transfer record.\n\n1. Mandatory Parameters Validation:\n   - If the header field is null, it checks for required parameters:\n      - `confirmationUser`\n      - `establishmentId`\n      - `confirmationStatusSequence`\n      - `scheduleCodeId`\n      - `scheduleDate`\n      - `newIntegratedScheduleId`\n      - `bedReservation`\n\n   If any of these parameters are missing, it throws an exception with a message listing the missing parameters.\n2. Authorization Generation:\n   - It generates authorization for the schedule.\n3. Cancellation Records:\n   - If there are old schedule records to cancel:\n      - It checks if the cancellation reason is provided and throws an exception if it is missing.\n      - It cancels the previous schedule and records the cancellation reason.\n      - It updates the status of the old schedule.\n\n   Cancellation is only performed during the transfer process if the `oldIntegratedScheduleId` parameter is present.\n4. Status Change:\n   - It updates the status of the new schedule.","description":"This method record an appointment or transfer record.\n\n1. Mandatory Parameters Validation:\n   - If the header field is null, it checks for required parameters:\n      - `confirmationUser`\n      - `establishmentId`\n      - `confirmationStatusSequence`\n      - `scheduleCodeId`\n      - `scheduleDate`\n      - `newIntegratedScheduleId`\n      - `bedReservation`\n\n   If any of these parameters are missing, it throws an exception with a message listing the missing parameters.\n2. Authorization Generation:\n   - It generates authorization for the schedule.\n3. Cancellation Records:\n   - If there are old schedule records to cancel:\n      - It checks if the cancellation reason is provided and throws an exception if it is missing.\n      - It cancels the previous schedule and records the cancellation reason.\n      - It updates the status of the old schedule.\n\n   Cancellation is only performed during the transfer process if the `oldIntegratedScheduleId` parameter is present.\n4. Status Change:\n   - It updates the status of the new schedule.","operationId":"recordSchedule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/RecordScheduleDTO"}}],"responses":{"200":{"description":"Successfully recorded","examples":{"application/json":{"message":"Successfully recorded","status":"Success"}}},"400":{"description":"Status 400, missing required parameter","examples":{"application/json":{"message":"Error message","status":"Error"}}},"500":{"description":"Status 500, unable to recorded the appointment or transfer","examples":{"application/json":{"message":"Error message","status":"Error"}}}}},"parameters":[]},"/api/schedules/time-suggestions":{"get":{"tags":["Schedules"],"summary":"This method is responsible for generating the time combos available for the scheduling process.\n\n1. Input parameters:\n - For the method to execute correctly, it is necessary to insert the following input parameters: `integratedScheduleId`, `userName`, `establishmentCode` and `scheduleDate`.\n - For the `userName` parameter, a user present in Tasy must be used, due to the validation of rules and parameters by function.\n2. User Permissions and Settings:\n - First, we check your preferences and permissions. This ensures you get the right services based on your profile and permissions.\n3. Identifying the Right Items:\n - We gather essential details about your appointment, including any additional services or procedures you might need.\n4. Validating Your Health Plan:\n - We ensure that your health plan covers the services you're booking. If there are any special requirements or constraints, we take those into account.\n5. Checking Availability:\n - Our system looks at various potential times and locations for your appointment. We make sure that the places we suggest are convenient and suitable for you.\n6. Ensuring Compliance:\n - We perform several checks to ensure everything complies with medical guidelines. This includes verifying if the services are suitable for you based on your health details.\n7. Logging Issues:\n - If any issues arise, our system logs detailed messages. This helps us understand what went wrong and improve our service.\n8. Finalizing Your Appointment:\n - Once everything checks out, we add the appointment to your schedule. You'll see only the valid and suitable options.\n\nThe rules validated in the time suggestion process through Tasy are also validated in this API.","description":"This method is responsible for generating the time combos available for the scheduling process.\n\n1. Input parameters:\n - For the method to execute correctly, it is necessary to insert the following input parameters: `integratedScheduleId`, `userName`, `establishmentCode` and `scheduleDate`.\n - For the `userName` parameter, a user present in Tasy must be used, due to the validation of rules and parameters by function.\n2. User Permissions and Settings:\n - First, we check your preferences and permissions. This ensures you get the right services based on your profile and permissions.\n3. Identifying the Right Items:\n - We gather essential details about your appointment, including any additional services or procedures you might need.\n4. Validating Your Health Plan:\n - We ensure that your health plan covers the services you're booking. If there are any special requirements or constraints, we take those into account.\n5. Checking Availability:\n - Our system looks at various potential times and locations for your appointment. We make sure that the places we suggest are convenient and suitable for you.\n6. Ensuring Compliance:\n - We perform several checks to ensure everything complies with medical guidelines. This includes verifying if the services are suitable for you based on your health details.\n7. Logging Issues:\n - If any issues arise, our system logs detailed messages. This helps us understand what went wrong and improve our service.\n8. Finalizing Your Appointment:\n - Once everything checks out, we add the appointment to your schedule. You'll see only the valid and suitable options.\n\nThe rules validated in the time suggestion process through Tasy are also validated in this API.","operationId":"getTimeSuggestionCombo","produces":["application/json"],"parameters":[{"name":"integratedScheduleId","in":"query","description":"Integrated schedule code","required":false,"type":"integer","format":"int64"},{"name":"userName","in":"query","description":"User name","required":false,"type":"string"},{"name":"establishmentCode","in":"query","description":"Establishment code","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number","required":false,"type":"integer","format":"int32"},{"name":"maxResults","in":"query","description":"Maximum amount of results","required":false,"type":"integer","format":"int32"},{"name":"numberOfDays","in":"query","description":"Number of days to generate time suggestions","required":false,"type":"integer","format":"int32"},{"name":"scheduleDate","in":"query","description":"Schedule date","required":false,"type":"string"}],"responses":{"200":{"description":"Time suggestions information","schema":{"$ref":"#/definitions/TimeSuggestionComboResultResponse"}},"400":{"description":"Status 400, No returnable results wtih the selected filter","examples":{"application/json":{"message":"No returnable results wtih the selected filter","status":"400"}}},"404":{"description":"Status 404, Not found message","examples":{"application/json":{"message":"Not found message","status":"Warning"}}}}},"parameters":[]},"/api/schedules/exams/{sequence}/status":{"put":{"tags":["Schedules"],"summary":"This method update the status of a exams schedule by ID informed on path","description":"This method update the status of a exams schedule by ID informed on path","operationId":"update_17","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ExamsScheduleEntityVO"}}],"responses":{"200":{"description":"The exams schedule was updated successfully","examples":{"application/json":{"status":"Success","message":"Successfully updated"}}},"400":{"description":"Unable to change status for the schedule, scheduleCode are mandatory or cancellation status of this schedule cannot be reversed because it is already occupied","examples":{"application/json":{"status":"Error","message":"Message with the failure motivation"}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Internal Server Error","examples":{"application/json":{"status":"Error","message":"internal server error"}}}}},"parameters":[{"name":"sequence","in":"path","description":"Exams schedule identifier code \n\n**Referenced Table:** AGENDA_PACIENTE \n\n**Referenced Column:** NR_SEQUENCIA","required":true,"type":"integer","format":"int64"}]},"/api/schedules/consultation/appointments":{"get":{"tags":["Schedules"],"summary":"This method returns consultation schedule information of the informed identifier code upon a great performance\n\nThe method validates several rules to ensure the correctness of the input filter and the existence of consultation schedule data:\n1. Input Validation:\n   - The method first checks if the necessary date parameters are provided. If both `lastUpdatedStartDate` and `lastUpdatedEndDate` are empty, and either `initialDate` or `endDate` is empty, it throws an error indicating that the `initialDate` and `endDate` parameters are required.\n2. Date Formatting:\n   - It then formats the date fields in the filter to ensure that only the date part is considered, removing any time information.\n3. Record Counting:\n   - The method counts the total number of consultation performance records that match the filter criteria. If no records are found, it throws an error indicating that there are no results to return.\n4. Response Preparation:\n   - An `IntegrationPerformanceResponse` object is created to hold the results. The total number of elements is set in this response object.\n5. Data Retrieval:\n   - Finally, the method retrieves the list of consultation schedule that match the filter criteria and sets these results in the response object, which is then returned as the method's output.\n\nThese rules ensure that the input filter contains the necessary date parameters, the dates are correctly formatted, and there are consultation schedule records available for the given filter criteria.","description":"This method returns consultation schedule information of the informed identifier code upon a great performance\n\nThe method validates several rules to ensure the correctness of the input filter and the existence of consultation schedule data:\n1. Input Validation:\n   - The method first checks if the necessary date parameters are provided. If both `lastUpdatedStartDate` and `lastUpdatedEndDate` are empty, and either `initialDate` or `endDate` is empty, it throws an error indicating that the `initialDate` and `endDate` parameters are required.\n2. Date Formatting:\n   - It then formats the date fields in the filter to ensure that only the date part is considered, removing any time information.\n3. Record Counting:\n   - The method counts the total number of consultation performance records that match the filter criteria. If no records are found, it throws an error indicating that there are no results to return.\n4. Response Preparation:\n   - An `IntegrationPerformanceResponse` object is created to hold the results. The total number of elements is set in this response object.\n5. Data Retrieval:\n   - Finally, the method retrieves the list of consultation schedule that match the filter criteria and sets these results in the response object, which is then returned as the method's output.\n\nThese rules ensure that the input filter contains the necessary date parameters, the dates are correctly formatted, and there are consultation schedule records available for the given filter criteria.","operationId":"consultationPerformanceList","produces":["application/json"],"parameters":[{"name":"page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"maxResults","in":"query","required":false,"type":"integer","format":"int32"},{"name":"initialDate","in":"query","description":"\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_AGENDA","required":false,"type":"string"},{"name":"endDate","in":"query","description":"\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_AGENDA","required":false,"type":"string"},{"name":"statusAgenda","in":"query","description":"\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"string"},{"name":"establishmentCode","in":"query","description":"\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"string"},{"name":"naturalPersonCode","in":"query","description":"\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"companyCode","in":"query","description":"\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_EMPRESA","required":false,"type":"integer","format":"int32"},{"name":"specialtyCode","in":"query","description":"Specialty code \n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"integer","format":"int64"},{"name":"lastUpdatedStartDate","in":"query","description":"The date of the last time the schedule was updated \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_ATUALIZACAO","required":false,"type":"string"},{"name":"lastUpdatedEndDate","in":"query","description":"The date of the last time the schedule was updated \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_ATUALIZACAO","required":false,"type":"string"}],"responses":{"200":{"description":"Consultation schedule information","schema":{"$ref":"#/definitions/IntegrationPerformanceResponse"}},"204":{"description":"No results for the filters provided","examples":{"application/json":{}}},"400":{"description":"Status 1, initialDate and endDate parameters are required","examples":{"application/json":{"Status 1, Required date parameter":{"status":"Error","message":"initialDate and endDate parameters are required."}}}},"422":{"description":"Unprocessable Filters","examples":{"application/json":{"Initial Date is not a valid date":{"status":"Error","message":"Invalid date for parameter: initialDate"}}}}}},"parameters":[]},"/api/schedules/consultation":{"get":{"tags":["Schedules"],"summary":"This method returns a list of consultation schedule information","description":"This method returns a list of consultation schedule information","operationId":"getConsultationSchedule","parameters":[{"name":"sequence","in":"query","description":"Consultation schedule identifier code\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** NR_SEQUENCIA","required":false,"type":"integer","format":"int64"},{"name":"establishmentCode","in":"query","description":"The establishment code of the Schedule\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"specialty","in":"query","description":"Specialty code \n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"string"},{"name":"naturalPersonCode","in":"query","description":"Patient natural person code\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"patientName","in":"query","description":"Patient name, will only be used if the naturalPersonCode is not informed\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** NM_PACIENTE","required":false,"type":"string"},{"name":"status","in":"query","description":"Schedule status, this filter will only be used if a list of status (statusList) is not informed\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"string"},{"name":"scheduleCode","in":"query","description":"Schedule code \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"scheduleClassification","in":"query","description":"Schedule classification \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_CLASSIF_AGENDA","required":false,"type":"string"},{"name":"userName","in":"query","description":"The username of the user who made the last change\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** NM_USUARIO","required":false,"type":"string"},{"name":"scheduling","in":"query","description":"This filter is to inform if you are scheduling (1) or not (0). If you are scheduling, this filter will only return records that don't have an encounter informed, and if you are not scheduling, this filter will only return records that have an encounter\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** NR_ATENDIMENTO","required":false,"type":"integer","format":"int32"},{"name":"groupsToSchedulingSequence","in":"query","description":"the sequence of the RegisterProcedureGroupsScheduling\n\n**Referenced Table:** AGENDA_INT_GRUPO \n\n**Referenced Column:** NR_SEQUENCIA","required":false,"type":"integer","format":"int64"},{"name":"integratedScheduleAreaSequence","in":"query","description":"The sequence of the IntegratedScheduleArea\n\n**Referenced Table:** AGENDA_INT_AREA \n\n**Referenced Column:** NR_SEQUENCIA","required":false,"type":"integer","format":"int64"},{"name":"requester","in":"query","description":"The requester doctor's code\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"professionalCode","in":"query","description":"Professional natural person code\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"curp","in":"query","description":"Curp code\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_CURP","required":false,"type":"string"},{"name":"statusList","in":"query","description":"A List of the allowed status of the schedule, because the parameter is a String, you must follow the pattern of the example below\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"string"},{"name":"statusListNotAllowed","in":"query","description":"A List of the not allowed status of the schedule, because the parameter is a String, you must follow the pattern of the example below\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"string"},{"name":"allowsFitting","in":"query","description":"If true, this filter will bring schedules that are allowing fitting\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_ENCAIXE","required":false,"type":"boolean","default":true},{"name":"initialDate","in":"query","required":true,"type":"string","format":"date"},{"name":"endDate","in":"query","required":true,"type":"string","format":"date"},{"name":"insuranceCode","in":"query","required":false,"type":"integer"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"maxResults","in":"query","required":false,"type":"integer"}],"responses":{"200":{"description":"List of consultation schedule information","schema":{"$ref":"#/definitions/ConsultationScheduleResponse"}},"204":{"description":"No results for the filters provided","examples":{"application/json":{}}},"400":{"description":"Required Params not provided","examples":{"application/json":{"status":"Error","message":"sequence OR initialDate and endDate parameters are required"}}},"422":{"description":"Unprocessable Filters","examples":{"application/json":{"status":"Error","message":"Initial date is not a valid date"}}}}},"parameters":[]},"/api/schedules/consultation/{scheduleCode}/available":{"get":{"tags":["Schedules"],"summary":"This method lists all available consultation schedules","description":"This method lists all available consultation schedules","operationId":"getAvailableSchedulesSchedule","parameters":[{"name":"scheduleCode","in":"path","description":"Consultation schedule code","required":true,"type":"integer","format":"int64"},{"name":"regionCode","in":"query","description":"This parameter filters the establishments by their region code and uses the establishments returned to filter  the available schedules \n\n**Referenced Table:** WSUITE_GRUPO_LOC_ESTAB \n\n**Referenced Column:** NR_GRUPO_LOCAL","required":false,"type":"integer","format":"int64"},{"name":"shift","in":"query","description":"Filter the available schedules by the shift of the schedule \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_TURNO","required":false,"type":"string","enum":["MORNING","AFTERNOON","NIGHT","DAWN"]},{"name":"categoryCode","in":"query","description":"Filter the available schedules by its Health insurance category\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_CATEGORIA","required":false,"type":"string"},{"name":"searchType","in":"query","description":"How you want to filter the establishments for the available schedule, if you use this filter you must inform the regionCode and establishmentCode parameters","required":false,"type":"string"},{"name":"classification","in":"query","description":"Schedule classification \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_CLASSIF_AGENDA","required":false,"type":"string"},{"name":"establishmentCode","in":"query","description":"The establishment code of the Schedule \n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"integer","format":"int64"},{"name":"specialtyCode","in":"query","description":"Specialty code \n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"string"},{"name":"scheduleCode","in":"query","description":"Schedule Code \n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** CD_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"physicianId","in":"query","description":"Corresponds to the physical person code of the physician\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"allSchedulesExceptCancelled","in":"query","description":"Get all the schedules except cancelled \n\n**Referenced Table:** AGENDA_PACIENTE \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"boolean"},{"name":"companyCode","in":"query","description":"Corresponds to the Company identification","required":false,"type":"integer","format":"int64"},{"name":"initialDate","in":"query","description":"Initial date","required":true,"type":"string"},{"name":"endDate","in":"query","required":true,"type":"string"},{"name":"insuranceCode","in":"query","required":true,"type":"string"},{"name":"page","in":"query","required":false,"type":"string"},{"name":"maxResults","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"List of available Consultation schedule information","schema":{"$ref":"#/definitions/AvailableSchedulesResultResponse"}},"400":{"description":"Status Error, initialDate and endDate parameters are required","examples":{"application/json":{"status":"Error","message":"initialDate and endDate parameters are required"}}}}},"parameters":[]},"/api/schedules/actives/exam":{"get":{"tags":["Schedules"],"summary":"This method returns information on active exam schedules","description":"This method returns information on active exam schedules","operationId":"getExamSchedule","parameters":[{"name":"physician","in":"query","description":"Physician code \n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"description","in":"query","description":"Schedule Description \n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** DS_AGENDA","required":false,"type":"string"}],"responses":{"200":{"description":"Exam schedule information list","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduleEntity"}}},"400":{"description":"Status Error, error message","examples":{"application/json":{"status":"400","message":"No returnable results with the selected filter."}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"Not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Status Error, error message","examples":{"application/json":{"status":"Error","message":"Error message"}}}}},"parameters":[]},"/api/schedules/time-suggestions/integrated-schedule":{"post":{"tags":["Schedules"],"summary":"This method creates an integrated schedule record and returns the code of the created record.\n\n1. **Input parameters:**\n\n   1.1. **Main Fields Validations:**\n      - Integrated Schedule Information: The `IntegratedSchedule` field must not be null.\n      - Items Information: The `Items` field must not be null.\n\n   1.2. **Natural Person Validations:**\n\n   If `IntegratedSchedule` is not null and `NaturalPersonCode` is null:\n\n      - Patient Information: The `Patient` field must not be null.\n      - Patient's Name: The `Patient`'s `Name` field must not be null.\n      - Patient's Birth Date: The `Patient`'s `BirthDate` field must not be null.\n      - Patient's Gender: The `Patient`'s `Gender` field must not be null.\n\n   1.3. **Insurance Validations:**\n\n   If `IntegratedSchedule` and `Insurance` are not null:\n\n      - Health Insurance Code: The `Insurance`'s `Code` field must not be null.\n\n   1.4. **Item Validations:**\n\n   If `Items` is not null and not empty:\n\n      - For each `Item`:\n\n         - Scheduling Type: The `SchedulingType` field must not be null.\n         - Internal Procedure: If `SchedulingType` is `EXAM` or `SERVICE`, the `InternalProcedureCode` field must not be null.\n         - Specialty Code or Physician Code: If `SchedulingType` is `CONSULTATION`, either `SpecialtyCode` or `PhysicianCode` must not be null.\n         - Duration: If `SchedulingType` is `CONSULTATION` or `EXAM`, the `Duration` field must not be null.\n2. **Integrated Schedule Status Validation:**\n   - The method retrieves the status sequence for the integrated schedule and sets it in the IntegratedSchedule object.\n3. **Natural Person Validations:**\n\n   If the NaturalPersonCode is not null:\n\n      - The method retrieves the natural person's details and sets the following fields in the object:\n\n         - Phone: The phone number of the patient.\n         - Birth Date: The birth date of the patient.\n         - Age: The age of the patient.\n         - Weight: The weight of the patient.\n         - Height: The height of the patient in centimeters.\n         - Gender: The gender of the patient.\n4. **Schedule Initial and Update Date:**\n - The method sets the current date and time as the schedule's initial and update date.\n5. **Item Validations:**\n - For each item in the Items list:\n  - The method sets the integrated schedule sequence, update date, and username for the item.\n6. **Data returned:**\n - When the appointment insertion process is complete, the appointment `code` and the message `\"message\":\"Successfully recorded\"` are returned.","description":"This method creates an integrated schedule record and returns the code of the created record.\n\n1. **Input parameters:**\n\n   1.1. **Main Fields Validations:**\n      - Integrated Schedule Information: The `IntegratedSchedule` field must not be null.\n      - Items Information: The `Items` field must not be null.\n\n   1.2. **Natural Person Validations:**\n\n   If `IntegratedSchedule` is not null and `NaturalPersonCode` is null:\n\n      - Patient Information: The `Patient` field must not be null.\n      - Patient's Name: The `Patient`'s `Name` field must not be null.\n      - Patient's Birth Date: The `Patient`'s `BirthDate` field must not be null.\n      - Patient's Gender: The `Patient`'s `Gender` field must not be null.\n\n   1.3. **Insurance Validations:**\n\n   If `IntegratedSchedule` and `Insurance` are not null:\n\n      - Health Insurance Code: The `Insurance`'s `Code` field must not be null.\n\n   1.4. **Item Validations:**\n\n   If `Items` is not null and not empty:\n\n      - For each `Item`:\n\n         - Scheduling Type: The `SchedulingType` field must not be null.\n         - Internal Procedure: If `SchedulingType` is `EXAM` or `SERVICE`, the `InternalProcedureCode` field must not be null.\n         - Specialty Code or Physician Code: If `SchedulingType` is `CONSULTATION`, either `SpecialtyCode` or `PhysicianCode` must not be null.\n         - Duration: If `SchedulingType` is `CONSULTATION` or `EXAM`, the `Duration` field must not be null.\n2. **Integrated Schedule Status Validation:**\n   - The method retrieves the status sequence for the integrated schedule and sets it in the IntegratedSchedule object.\n3. **Natural Person Validations:**\n\n   If the NaturalPersonCode is not null:\n\n      - The method retrieves the natural person's details and sets the following fields in the object:\n\n         - Phone: The phone number of the patient.\n         - Birth Date: The birth date of the patient.\n         - Age: The age of the patient.\n         - Weight: The weight of the patient.\n         - Height: The height of the patient in centimeters.\n         - Gender: The gender of the patient.\n4. **Schedule Initial and Update Date:**\n - The method sets the current date and time as the schedule's initial and update date.\n5. **Item Validations:**\n - For each item in the Items list:\n  - The method sets the integrated schedule sequence, update date, and username for the item.\n6. **Data returned:**\n - When the appointment insertion process is complete, the appointment `code` and the message `\"message\":\"Successfully recorded\"` are returned.","operationId":"insertSchedule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/IntegratedScheduleDTO"}}],"responses":{"200":{"description":"Successfully included","examples":{"application/json":{"code":"87129","message":"Successfully included"}},"schema":{"$ref":"#/definitions/IntegratedScheduleDTO"}},"400":{"description":"Status 400, Bad Request"}}},"parameters":[]},"/api/schedules/consultation/schedule-insurance-rules":{"get":{"tags":["Schedules"],"summary":"This method lists the Schedule Insurance Rules and can be filtered by additional filters.","description":"This method lists the Schedule Insurance Rules and can be filtered by additional filters.","operationId":"getSchedulingRulesByAgreement","parameters":[{"name":"scheduleCode","in":"query","description":"\n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** CD_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"establishmentCode","in":"query","description":"\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"integer","format":"int64"},{"name":"specialityCode","in":"query","description":"\n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"List of Schedule Insurance Rules","schema":{"$ref":"#/definitions/SchedulingRulesByAgreementVO"}},"204":{"description":"No Schedule Insurance Rules found for the parameters provided.","schema":{"type":"object"}}}},"parameters":[]},"/api/schedules/completed-schedules":{"get":{"tags":["Schedules"],"summary":"This method returns all appointments to be made between the period of the schedule date informed, those schedules in this period can also be filtered by:Type of schedule, schedule code, schedule status, schedule classification, insurance codeprocedure code, procedure description, medical specialty code, specialty description, physician code, physician name, physician CRM,  establishment code, establishment description,  patient CPF, patient RGand health insurance user code","description":"This method returns all appointments to be made between the period of the schedule date informed, those schedules in this period can also be filtered by:Type of schedule, schedule code, schedule status, schedule classification, insurance codeprocedure code, procedure description, medical specialty code, specialty description, physician code, physician name, physician CRM,  establishment code, establishment description,  patient CPF, patient RGand health insurance user code","operationId":"getCompletedSchedules","parameters":[{"name":"typeOfSchedule","in":"query","description":"The type of schedule code\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** CD_TIPO_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"scheduleCode","in":"query","description":"The schedule code\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** CD_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"scheduleStatus","in":"query","description":"The status of schedule\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** NR_SEQ_STATUS_PAC","required":false,"type":"integer","format":"int64"},{"name":"initialDate","in":"query","description":"The start date of the period in which the schedule must be present\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** DT_AGENDA","required":true,"type":"string"},{"name":"endDate","in":"query","description":"The end date of the period in which the schedule must be present\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** DT_AGENDA","required":true,"type":"string"},{"name":"classificationSchedule","in":"query","description":"The classification description of the schedule\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** DS_CLASSIF_AGENDA_PAC","required":false,"type":"string"},{"name":"insuranceCode","in":"query","description":"The patient insurance code\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** CD_CONVENIO","required":false,"type":"integer","format":"int64"},{"name":"procedureCode","in":"query","description":"The procedure code\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** NR_SEQ_PROC_INTERNO","required":false,"type":"integer","format":"int64"},{"name":"procedureDescription","in":"query","description":"The procedure description\n\n**Referenced Table:** PROCEDIMENTO \n\n**Referenced Column:** DS_PROCEDIMENTO","required":false,"type":"string"},{"name":"medicalSpecialtyCode","in":"query","description":"The medical specialty code of the physician\n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"integer","format":"int64"},{"name":"specialtyDescription","in":"query","description":"The medical specialty description of the physician\n\n**Referenced Table:** SUS_ESPEC_LEITO \n\n**Referenced Column:** DS_ESPEC_LEITO","required":false,"type":"string"},{"name":"physicianCode","in":"query","description":"The physician code\n\n**Referenced Table:** MEDICO \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"integer","format":"int64"},{"name":"physicianName","in":"query","description":"The name of the physician responsible for the schedule\n\n**Referenced Table:** MEDICO \n\n**Referenced Column:** NM_GUERRA","required":false,"type":"string"},{"name":"physicianCRM","in":"query","description":"The physician professional registration\n\n**Referenced Table:** MEDICO \n\n**Referenced Column:** NR_CRM","required":false,"type":"string"},{"name":"establishmentCode","in":"query","description":"The establishment code of the Schedule\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"integer","format":"int64"},{"name":"establishmentDescription","in":"query","description":"The establishment description of the Schedule\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** NM_FANTASIA_ESTAB","required":false,"type":"string"},{"name":"taxPayerId","in":"query","description":"The patient registration document (RG)\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** NR_IDENTIDADE","required":false,"type":"string"},{"name":"civilId","in":"query","description":"The patient CPF\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** NR_CPF","required":false,"type":"string"},{"name":"healthInsuranceUserCode","in":"query","description":"The health insurance user code of the beneficiary\n\n**Referenced Table:** AGENDA_PACIENTE_V \n\n**Referenced Column:** CD_USUARIO_CONVENIO","required":false,"type":"string"},{"name":"page","in":"query","description":"The pageFilter you want to bring the results","required":false,"type":"integer","default":1,"format":"int32"},{"name":"maxResults","in":"query","description":"The maximum amount of results that will be returned","required":false,"type":"integer","default":500,"format":"int32"}],"responses":{"200":{"description":"List of consultation schedules information","examples":{"application/json":{"schema":{"$ref":"#/definitions/CompletedSchedulesResponse"}}}},"400":{"description":"The initialDate and endDate parameters are required.","examples":{"application/json":{"status":"Error","message":"initialDate and endDate parameters are required."}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"Not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Status Error, error message","examples":{"application/json":{"status":"Error","message":"Error message"}}}}},"parameters":[]},"/api/schedules/integrated-schedule/cancel-schedule":{"post":{"tags":["Schedules"],"summary":"This method is responsible for cancel an appointment on integrated schedule","description":"This method is responsible for cancel an appointment on integrated schedule","operationId":"cancelSchedule_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/CancelScheduleDTO"}}],"responses":{"200":{"description":"The record was created successfully","examples":{"application/json":{"message":"Successfully recorded","status":"Success"}}},"400":{"description":"Status 400, The parameter itemScheduleSequence is mandatory"}}},"parameters":[]},"/api/schedules/consultation/cancel-schedule":{"post":{"tags":["Schedules"],"summary":"This method performs several checks and actions to update the status of a schedule.\nHere's a simplified explanation:\n\n**1. Initialize Sequence List:**\n  - If there are sequences provided in the status, they are added to a list.\n  - If a single sequence is provided, it is also added to the list.\n\n**2. Check for Empty Sequence List:**\n  - If the list of sequences is empty, an error is thrown indicating that a sequence is required.\n\n**3. Validate Reason Code:**\n  - The reason code is checked to ensure it is numeric. If not, an error is thrown.\n\n**4. Process Each Sequence:**\n  - For each sequence in the list:\n      - The sequence is trimmed and checked to ensure it is numeric. If not, an error is thrown.\n      - The sequence is converted to a number and the corresponding schedule data is retrieved.\n      - It checks if the schedule can be canceled. If not, an error is thrown.\n      - The schedule is then canceled with the provided reason and reason code.\n\n**5. Handle Exceptions:**\n  - If any errors occur during the process, they are caught and handled appropriately.\n  - After processing all sequences, any accumulated error messages are thrown.\n\n**6. Check the Appointment Details**:\n  - We first gather all the important information about the appointment, like the start time, duration, current status, and the person scheduled.\n\n**7. If It's Already Canceled**:\n  - If the appointment is already marked as canceled:\n      - We double-check the timing to avoid any mistakes.\n      - If there's an error, we immediately notify you.\n      - If everything is clear, we remove any overlapping free slots and reactivate the appointment.\n\n**8. If We Need to Cancel It**:\n  - If the appointment is still active:\n      - We calculate the cancel time.\n      - We update the status to 'C' (canceled), note the cancellation reason and time, and record your name.\n      - Additionally, if necessary, we also remove any related clinical notes.\n\n**9. Updating Waiting Lists**:\n  - We adjust any waiting lists to reflect the cancellation.\n  - If the appointment is part of an integrated schedule, we make sure it's removed there too.\n\n**10. Save Changes**:\n  - Finally, if your settings allow, we save all these changes to ensure everything is up-to-date.","description":"This method performs several checks and actions to update the status of a schedule.\nHere's a simplified explanation:\n\n**1. Initialize Sequence List:**\n  - If there are sequences provided in the status, they are added to a list.\n  - If a single sequence is provided, it is also added to the list.\n\n**2. Check for Empty Sequence List:**\n  - If the list of sequences is empty, an error is thrown indicating that a sequence is required.\n\n**3. Validate Reason Code:**\n  - The reason code is checked to ensure it is numeric. If not, an error is thrown.\n\n**4. Process Each Sequence:**\n  - For each sequence in the list:\n      - The sequence is trimmed and checked to ensure it is numeric. If not, an error is thrown.\n      - The sequence is converted to a number and the corresponding schedule data is retrieved.\n      - It checks if the schedule can be canceled. If not, an error is thrown.\n      - The schedule is then canceled with the provided reason and reason code.\n\n**5. Handle Exceptions:**\n  - If any errors occur during the process, they are caught and handled appropriately.\n  - After processing all sequences, any accumulated error messages are thrown.\n\n**6. Check the Appointment Details**:\n  - We first gather all the important information about the appointment, like the start time, duration, current status, and the person scheduled.\n\n**7. If It's Already Canceled**:\n  - If the appointment is already marked as canceled:\n      - We double-check the timing to avoid any mistakes.\n      - If there's an error, we immediately notify you.\n      - If everything is clear, we remove any overlapping free slots and reactivate the appointment.\n\n**8. If We Need to Cancel It**:\n  - If the appointment is still active:\n      - We calculate the cancel time.\n      - We update the status to 'C' (canceled), note the cancellation reason and time, and record your name.\n      - Additionally, if necessary, we also remove any related clinical notes.\n\n**9. Updating Waiting Lists**:\n  - We adjust any waiting lists to reflect the cancellation.\n  - If the appointment is part of an integrated schedule, we make sure it's removed there too.\n\n**10. Save Changes**:\n  - Finally, if your settings allow, we save all these changes to ensure everything is up-to-date.","operationId":"cancelSchedule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ChangeStatusScheduleDTO","required":true,"schema":{"$ref":"#/definitions/ChangeStatusScheduleDTO"}}],"responses":{"200":{"description":"Successfully canceled","examples":{"application/json":{"status":"Success","message":"Successfully canceled"}}},"400":{"description":"Status Error, scheduleSequence {number}: Those informed consultation sequence status are invalid.","examples":{"application/json":{"status":"Error","message":"scheduleSequence {number}: Those informed consultation sequence status are invalid"}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Internal Server Error","examples":{"application/json":{"status":"Error","message":"internal server error"}}}}},"parameters":[]},"/api/schedules/consultation/record-schedules":{"post":{"tags":["Schedules"],"summary":"This method record a new consultation schedule","description":"This method record a new consultation schedule","operationId":"recordSchedules","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/RecordSchedulesDTO"}}],"responses":{"200":{"description":"The consultation schedule was recorded successfully","schema":{"$ref":"#/definitions/RecordSchedulesResponse"}},"400":{"description":"Status Error, ORA Error message","examples":{"application/json":{"message":"ORA Error message","status":"Error"}}}}},"parameters":[]},"/api/schedules/consultation/available":{"get":{"tags":["Schedules"],"summary":"This method lists all available consultation schedules and can be filtered by additional filters","description":"This method lists all available consultation schedules and can be filtered by additional filters","operationId":"getAvailableSchedules","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"initialDate","in":"query","description":"Initial date \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_ATUALIZACAO","required":true,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"End date \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** DT_ATUALIZACAO","required":true,"type":"string","format":"date"},{"name":"insuranceCode","in":"query","description":"Health insurance code \n\n**Referenced Table:** CONVENIO \n\n**Referenced Column:** CD_CONVENIO","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Page number for pagination. Each page returns up to 500 items. Use this parameter to access subsequent pages when the result set exceeds the first 500 items.","required":false,"type":"integer","format":"int32"},{"name":"maxResults","in":"query","description":"Maximum number of items to return in the current page. Values greater than 500 are ignored and treated as if no limit was applied. This does not affect the totalElements field, which always represents the full number of matching records.","required":false,"type":"integer","format":"int32"},{"name":"patientId","in":"query","description":"Corresponds to the patient person code\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_PESSOA_FISICA\n\n This parameter is only used when applyRules=TRUE ","required":false,"type":"string"},{"name":"insurancePlanCode","in":"query","description":"Corresponds to the insurance plan code\n\n**Referenced Table:** CONVENIO_PLANO \n\n**Referenced Column:** CD_PLANO\n\n This parameter is only used when applyRules=TRUE ","required":false,"type":"string"},{"name":"allSchedulesExceptCancelled","in":"query","description":"Get all the schedules except cancelled \n\n**Referenced Table:** AGENDA_PACIENTE \n\n**Referenced Column:** IE_STATUS_AGENDA","required":false,"type":"boolean"},{"name":"applyRules","in":"query","description":"Determines whether business rules are applied when fetching schedules.","required":false,"type":"boolean"},{"name":"externalSchedulingEnabled","in":"query","description":"Indicates whether scheduling is available through an external system.\n\n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** IE_APRES_AGENDA_EXTERNO","required":false,"type":"boolean"},{"name":"regionCode","in":"query","description":"This parameter filters the establishments by their region code and uses the establishments returned to filter  the available schedules \n\n**Referenced Table:** WSUITE_GRUPO_LOC_ESTAB \n\n**Referenced Column:** NR_GRUPO_LOCAL","required":false,"type":"integer","format":"int64"},{"name":"shift","in":"query","description":"Filter the available schedules by the shift of the schedule \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_TURNO","required":false,"type":"string","enum":["MORNING","AFTERNOON","NIGHT","DAWN"]},{"name":"categoryCode","in":"query","description":"Filter the available schedules by its Health insurance category\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** CD_CATEGORIA","required":false,"type":"string"},{"name":"searchType","in":"query","description":"How you want to filter the establishments for the available schedule, if you use this filter you must inform the regionCode and establishmentCode parameters","required":false,"type":"string"},{"name":"classification","in":"query","description":"Schedule classification \n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** IE_CLASSIF_AGENDA","required":false,"type":"string"},{"name":"establishmentCode","in":"query","description":"The establishment code of the Schedule \n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO","required":false,"type":"integer","format":"int64"},{"name":"specialtyCode","in":"query","description":"Specialty code \n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE","required":false,"type":"string"},{"name":"scheduleCode","in":"query","description":"Schedule Code \n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** CD_AGENDA","required":false,"type":"integer","format":"int64"},{"name":"physicianId","in":"query","description":"Corresponds to the physical person code of the physician\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA","required":false,"type":"string"},{"name":"companyCode","in":"query","description":"Corresponds to the Company identification\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_EMPRESA","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"List of available Consultation schedule information","schema":{"$ref":"#/definitions/AvailableSchedulesResultResponse"}},"204":{"description":"No available schedules were found for the specified filters.","schema":{"type":"object","example":{}}},"400":{"description":"Required parameters","examples":{"application/json":{"status":"Error","message":"initialDate and endDate parameters are required"}}},"422":{"description":"Unprocessable Filters","examples":{"application/json":{"status":"Error","message":"insuranceCode and specialtyCode are required to apply rules"}}}}},"parameters":[]},"/api/schedules/consultation/book-time":{"post":{"tags":["Schedules"],"summary":"This method book time for the consultation schedule sent by parameters","description":"This method book time for the consultation schedule sent by parameters","operationId":"bookTime","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ConsultationScheduleEntityVO"}}],"responses":{"200":{"description":"The consultation schedule was booked successfully","examples":{"application/json":{"status":"Success","message":"Successfully booked"}}},"400":{"description":"Status Error, Integrated schedule id is required","examples":{"application/json":{"status":"Error","message":"Integrated schedule id is required"}}},"404":{"description":"Status Warning, not found message","examples":{"application/json":{"status":"Warning","message":"not found message"}}},"422":{"description":"Status 422, semantic error","examples":{"application/json":{"status":"Error","message":"semantic error"}}},"500":{"description":"Error message","examples":{"application/json":{"status":"Error","message":"internal server error"}}}}},"parameters":[]},"/api/schedules/consultation/{sequence}/status":{"put":{"tags":["Schedules"],"summary":"Updates the status of a consultation schedule identified by the sequence informed in the path.\n\nWhen updating to the status 'CANCELLED':\n  - If the schedule is not yet cancelled, it will be updated to CANCELLED normally.\n  - If the schedule is already cancelled and another request with status=CANCELLED is sent, the cancellation will be reverted (the schedule will be restored).\n\nTo avoid this behavior, use the parameter 'notDestroyCancelation'.\n\nExample body:\n\n  {\n\n    'status': 'CANCELLED',\n\n    'notDestroyCancelation': true\n\n  }\n\nWhen 'notDestroyCancelation' is true and the schedule is already cancelled, the API throws an exception indicating that the schedule is already cancelled and the cancellation is not reverted.\n\nIf the parameter is not informed, it defaults to FALSE.","description":"Updates the status of a consultation schedule identified by the sequence informed in the path.\n\nWhen updating to the status 'CANCELLED':\n  - If the schedule is not yet cancelled, it will be updated to CANCELLED normally.\n  - If the schedule is already cancelled and another request with status=CANCELLED is sent, the cancellation will be reverted (the schedule will be restored).\n\nTo avoid this behavior, use the parameter 'notDestroyCancelation'.\n\nExample body:\n\n  {\n\n    'status': 'CANCELLED',\n\n    'notDestroyCancelation': true\n\n  }\n\nWhen 'notDestroyCancelation' is true and the schedule is already cancelled, the API throws an exception indicating that the schedule is already cancelled and the cancellation is not reverted.\n\nIf the parameter is not informed, it defaults to FALSE.","operationId":"updateConsultationSchedule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ConsultationScheduleEntityVO"}}],"responses":{"200":{"description":"The consultation schedule was updated successfully","schema":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"}},"example":{"status":"Success","message":"Successfully updated"}}},"204":{"description":"No Schedule for this sequence","schema":{"type":"object","example":{}}},"400":{"description":"Bad Request - The parameter status is mandatory","schema":{"properties":{"status":{"type":"string"},"message":{"type":"string"}},"example":{"status":"Error","message":"The parameter status is mandatory."}}},"422":{"description":"Unprocessable Entity - Unable to change status for the schedule.","schema":{"properties":{"status":{"type":"string"},"message":{"type":"string"}},"example":{"status":"Error","message":"Unable to change status for the schedule."}}}}},"parameters":[{"name":"sequence","in":"path","description":"Consultation schedule identifier code\n\n**Referenced Table:** AGENDA_CONSULTA \n\n**Referenced Column:** NR_SEQUENCIA","required":true,"type":"integer","format":"int64"}]}},"securityDefinitions":{"BearerAuth":{"description":"Bearer token authentication. Format: 'Bearer {token}'","type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"SchedulingRulesByAgreementVO":{"type":"object","properties":{"ruleCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** NR_SEQUENCIA"},"updateDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** DT_ATUALIZACAO"},"userName":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** NM_USUARIO"},"udpateNrecDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** DT_ATUALIZACAO_NREC"},"userNrecName":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** NM_USUARIO_NREC"},"scheduleCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** AGENDA \n\n**Referenced Column:** CD_AGENDA"},"agreementCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** CONVENIO \n\n**Referenced Column:** CD_CONVENIO"},"categoryCode":{"type":"string","description":"\n\n**Referenced Table:** CATEGORIA_CONVENIO \n\n**Referenced Column:** CD_CATEGORIA"},"agreementPlanCode":{"type":"string","description":"\n\n**Referenced Table:** CONVENIO_PLANO \n\n**Referenced Column:** CD_PLANO_CONVENIO"},"serviceSectorCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** SETOR_ATENDIMENTO \n\n**Referenced Column:** CD_SETOR_ATENDIMENTO"},"isAllow":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** IE_PERMITE"},"naturalPersonCode":{"type":"string","description":"\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_PESSOA_FISICA"},"message":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** DS_MENSAGEM"},"formConsistsSector":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** IE_FORMA_CONSISTE_SETOR"},"doctorCode":{"type":"string","description":"\n\n**Referenced Table:** PESSOA_FISICA \n\n**Referenced Column:** CD_MEDICO"},"isFirstSchedule":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** IE_PRIMEIRO_AGENDAMENTO"},"endDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** HR_FINAL"},"effectiveStartDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** DT_INICIAL_VIGENCIA"},"effectiveEndDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** DT_FINAL_VIGENCIA"},"startDate":{"type":"string","format":"date-time","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** HR_INICIAL"},"dayOfWeek":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** IE_DIA_SEMANA"},"establishmentCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** ESTABELECIMENTO \n\n**Referenced Column:** CD_ESTABELECIMENTO"},"sequencePlan":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** PLS_PLANO \n\n**Referenced Column:** NR_SEQ_PLANO"},"isBlockSameSpeacialty":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** IE_BLOQ_MESMA_ESPEC"},"specialityCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** ESPECIALIDADE_MEDICA \n\n**Referenced Column:** CD_ESPECIALIDADE"},"companyCode":{"type":"integer","format":"int64","description":"\n\n**Referenced Table:** EMPRESA_REFERENCIA \n\n**Referenced Column:** CD_EMPRESA_REF"},"maximunAge":{"type":"integer","format":"int32","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** QT_IDADE_MIN"},"minimumAge":{"type":"integer","format":"int32","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** QT_IDADE_MAX"},"cityCode":{"type":"string","description":"\n\n**Referenced Table:** REGRA_AGECONS_CONVENIO \n\n**Referenced Column:** CD_MUNICIPIO_IBGE"}}},"CompositionDetailVO":{"type":"object","properties":{"itemCode":{"type":"integer","format":"int32"},"itemDescription":{"type":"string"},"serviceQuantity":{"type":"number","format":"double"},"serviceValue":{"type":"number","format":"double"},"totalValue":{"type":"number","format":"double"},"unityMeasure":{"type":"string"},"costType":{"type":"integer","format":"int32"},"tableType":{"type":"string"}}},"PackageProvider":{"type":"object","properties":{"providerCode":{"type":"integer","format":"int32"},"providerName":{"type":"string"},"providerDocument":{"type":"string"},"cnesCode":{"type":"string"}}},"PackageResponseVO":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"rows":{"type":"array","items":{"$ref":"#/definitions/PackageVO"}},"status":{"$ref":"#/definitions/PackageStatusVO"}}},"PackageStatusVO":{"type":"object","properties":{"executionDescription":{"type":"string"},"executionStatusCode":{"type":"integer","format":"int32"}}},"PackageVO":{"type":"object","properties":{"packCode":{"type":"integer","format":"int32"},"packName":{"type":"string"},"activeStatus":{"type":"string"},"packStage":{"type":"string"},"mainProcedureCode":{"type":"integer","format":"int32"},"mainProcedureName":{"type":"string"},"serviceValue":{"type":"number","format":"double"},"serviceQuantity":{"type":"number","format":"double"},"totalValue":{"type":"number","format":"double"},"providers":{"type":"array","items":{"$ref":"#/definitions/PackageProvider"}},"accommodationType":{"type":"string"},"packType":{"type":"string"},"codeSpeciality":{"type":"integer","format":"int32"},"hospitalizationType":{"type":"integer","format":"int32"},"negotiationDate":{"type":"string"},"honorary":{"type":"string"},"anesthesia":{"type":"string"},"help":{"type":"string"},"webType":{"type":"integer","format":"int32"},"opme":{"type":"string"},"daily":{"type":"string"},"startValidity":{"type":"string"},"endValidity":{"type":"string"},"publishDate":{"type":"string"},"packValue":{"type":"number","format":"double"},"packVersion":{"type":"integer","format":"int32"},"operatorCode":{"type":"integer","format":"int32"},"operatorDescription":{"type":"string"},"executionStatus":{"type":"integer","format":"int32"},"executionStatusDesc":{"type":"string"},"aproveReproveDate":{"type":"string"},"composition":{"type":"array","items":{"$ref":"#/definitions/CompositionDetailVO"}},"alternativeItem":{"type":"array","items":{"$ref":"#/definitions/CompositionDetailVO"}},"materialValue":{"type":"number","format":"float"},"medicationValue":{"type":"number","format":"float"},"opmeValue":{"type":"number","format":"float"},"dailyValue":{"type":"number","format":"float"},"rateGaseValue":{"type":"number","format":"float"},"procedureValue":{"type":"number","format":"float"},"justification":{"type":"string"}}},"ResponseVO":{"type":"object","properties":{"response":{"$ref":"#/definitions/PackageResponseVO"},"establishmentCode":{"type":"integer","format":"int32"},"userName":{"type":"string"},"requestId":{"type":"integer","format":"int32"}}},"DataInboundVO":{"type":"object","properties":{"insurance":{"type":"string"},"establishment":{"type":"string"},"department":{"type":"string"},"tissType":{"type":"string"},"referenceDate":{"type":"string","format":"date-time"},"transaction":{"type":"integer","format":"int64"},"insuranceProtocol":{"type":"integer","format":"int64"},"protocolFormSequence":{"type":"integer","format":"int64"},"eligibility":{"type":"integer","format":"int64"},"medicalProtocol":{"type":"integer","format":"int64"},"communication":{"type":"integer","format":"int64"},"sendDocument":{"type":"integer","format":"int64"},"attachmentContent":{"type":"string"},"nmUser":{"type":"string"},"nrSeqLogTiss":{"type":"integer","format":"int64"},"nmPatient":{"type":"string"},"cdUserInsurance":{"type":"string"},"nrEncounter":{"type":"string"},"nrSeqSchedule":{"type":"string"},"nrSeqScheduleConsult":{"type":"string"},"cdPersonPhysical":{"type":"string"},"cdProfile":{"type":"integer","format":"int32"},"ieNewBorn":{"type":"boolean"},"nrSeqProtocol":{"type":"integer","format":"int64"},"nrSeqAuthorization":{"type":"integer","format":"int64"},"nrSeqProtRec":{"type":"integer","format":"int64"},"document":{"type":"string"},"statusAuthorization":{"type":"integer","format":"int64"},"nrSeqStageCancel":{"type":"integer","format":"int64"},"codeAuthorizationProvider":{"type":"string"},"guideCodeAttachment":{"type":"string"},"passwordAuthor":{"type":"string"},"passwordValidate":{"type":"string"},"batchAttachment":{"type":"integer","format":"int32"},"typeTissGuide":{"type":"string"},"nrSeqLoteHist":{"type":"integer","format":"int64"},"denialGuideCancel":{"type":"integer","format":"int64"},"denialProtocolCancel":{"type":"integer","format":"int64"},"nrSeqReturn":{"type":"integer","format":"int64"},"cdCGC":{"type":"string"},"version":{"type":"string"},"ieTypeDemonstrative":{"type":"integer","format":"int32"},"batchGuideProtocolCancel":{"type":"integer","format":"int64"},"guideProtocolCancel":{"type":"integer","format":"int64"},"confirmGenEachGuideCamel":{"type":"string"},"nrSeqProtSituacao":{"type":"integer","format":"int64"}}},"ResultInboundDataVO":{"type":"object","properties":{"tissType":{"type":"string"},"soapData":{"type":"object","additionalProperties":{"type":"object","properties":{}}},"jsonRequest":{"type":"string"},"jsonRequestObject":{"type":"object","additionalProperties":{"type":"object","properties":{}}},"soapRequest":{"type":"string"},"soapResponse":{"type":"string"},"hash":{"type":"string"},"address":{"type":"string"},"servicePortName":{"type":"string"},"tissXml":{"type":"string"},"sequenceTissAssync":{"type":"integer","format":"int64"}}},"TissSaveLogVO":{"type":"object","properties":{"sequence":{"type":"integer","format":"int64"},"messageError":{"type":"string"},"nmUser":{"type":"string"},"sequenceTissAssync":{"type":"integer","format":"int64"},"xmlSent":{"type":"string"}}},"BeneficiarieVO":{"type":"object","properties":{"destinationUnimedCode":{"type":"string"},"originUnimedCode":{"type":"string"},"birthDate":{"type":"string","format":"date"},"beginSharedRiskDate":{"type":"string","format":"date"},"endSharedRiskDate":{"type":"string","format":"date"},"taxPayerID":{"type":"string"},"typeLocalContract":{"type":"string"},"beneficiarieID":{"type":"integer","format":"int64"},"unimedCode":{"type":"integer","format":"int64"},"completeNameBeneficiarie":{"type":"string"},"ownReceive":{"type":"string"},"fileName":{"type":"string"}}},"PtuExchangeBatchVO":{"type":"object","properties":{"versionTransactionPtu":{"type":"integer","format":"int64"},"generationDate":{"type":"string","format":"date"},"transactionNumber":{"type":"integer","format":"int64"},"destinationUnimedCode":{"type":"string"},"originUnimedCode":{"type":"string"},"ownBeneficiarie":{"type":"array","items":{"$ref":"#/definitions/SharedBeneficiarieVO"}},"otherBeneficiarie":{"type":"array","items":{"$ref":"#/definitions/SharedBeneficiarieVO"}},"fileName":{"type":"string"}}},"SharedBeneficiarieVO":{"type":"object","properties":{"beneficiarie":{"type":"array","items":{"$ref":"#/definitions/BeneficiarieVO"}}}},"AccommodationTypeVO":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Accommodation type sequence"},"description":{"type":"string","description":"Accommodation type description"}},"description":"Accomodation type"},"AccountPacientVO":{"type":"object","properties":{"accountId":{"type":"integer","format":"int32","description":"Account id"},"value":{"type":"number","format":"double","description":"Value"},"insuranceCode":{"type":"integer","format":"int32","description":"Insurance code"},"category":{"type":"integer","format":"int32","description":"Category"},"ivaCategory":{"type":"integer","format":"int32","description":"IVA category"},"contributionType":{"type":"string","description":"Contribuition type"},"payerProvincialLaw":{"type":"string","description":"Payer provincial law"},"encounterType":{"type":"string","description":"Encounter type"},"transplantType":{"type":"string","description":"Transplant type"},"Establishment code":{"type":"integer","format":"int64"},"materials":{"type":"array","description":"Materials list","items":{"$ref":"#/definitions/MaterialVO"}},"procedures":{"type":"array","description":"Procedures list","items":{"$ref":"#/definitions/PatientProcedureVO"}},"paymentTransfer":{"$ref":"#/definitions/GeneratedPaymentTransfersVO"},"materialVO":{"type":"array","items":{"$ref":"#/definitions/MaterialVO"}},"patientProcedureVO":{"type":"array","items":{"$ref":"#/definitions/PatientProcedureVO"}}}},"GeneratedPaymentTransfersVO":{"type":"object","properties":{"procedures":{"type":"array","description":"Payment transfer procedures list","items":{"$ref":"#/definitions/PaymentTransferProcedureVO"}},"materials":{"type":"array","description":"Payment transfer materials list","items":{"$ref":"#/definitions/PaymentTransferMaterialVO"}},"transferItems":{"type":"array","description":"Payment transfer items list","items":{"$ref":"#/definitions/PaymentTransferItemVO"}}},"description":"Generated payment transfer"},"MaterialGroupVO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string"}}},"MaterialVO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string"},"previousSystemCode":{"type":"string","description":"Previous system material code"}}},"PatientProcedureVO":{"type":"object","properties":{"procedureId":{"type":"integer","format":"int32","description":"Procedure id"},"procedureCode":{"type":"integer","format":"int32","description":"Procedure code"},"procedureCodeLoc":{"type":"string","description":"Procedure localization code"},"procedureAmount":{"type":"integer","format":"int32","description":"Procedure amount"},"procedureValue":{"type":"number","format":"double","description":"Procedure Value"},"department":{"type":"integer","format":"int32","description":"Departament"},"procedureDate":{"type":"string","format":"date-time","description":"Procedure date"},"packageCode":{"type":"integer","format":"int32","description":"Procedure package code"},"surgeryNumber":{"type":"integer","format":"int32","description":"Procedure surgery number"},"departmentCode":{"type":"integer","format":"int32","description":"Procedure department code"},"roomId":{"type":"string","description":"Procedure room id"},"bedId":{"type":"string","description":"Procedure bed id"},"accomodationType":{"$ref":"#/definitions/AccommodationTypeVO"},"procedureTypeCode":{"type":"integer","format":"int32","description":"Procedure type code"},"revenueGroupCode":{"type":"integer","format":"int32","description":"Revenue group code"},"attendanceCode":{"type":"integer","format":"int64","description":"Attendance code"}}},"PaymentTransferItemVO":{"type":"object","properties":{"paymentTransferNumber":{"type":"integer","format":"int64","description":"Payment transfer number"},"paymentTransferAmount":{"type":"number","description":"Payment tranfer amount"},"legalEntityCode":{"type":"string","description":"Legal entity code"},"personCode":{"type":"string","description":"Person code"},"thirdPartyDescription":{"type":"string","description":"Third party description"},"entryData":{"type":"string","format":"date-time","description":"Entry data"}},"description":"Payment transfer items list"},"PaymentTransferMaterialVO":{"type":"object","properties":{"materialCode":{"type":"integer","format":"int64","description":"Material code"},"materialDescription":{"type":"string","description":"Material description"},"status":{"type":"string","description":"Transfer status"},"paymentTransferNumber":{"type":"integer","format":"int64","description":"Payment transfer number"},"paymentTransferAmount":{"type":"number","description":"Payment transfer amount"},"submittedValue":{"type":"number","description":"Submitted value"},"legalEntityCode":{"type":"string","description":"Legal entity code"},"personCode":{"type":"string","description":"Person code"},"thirdPartyDescription":{"type":"string","description":"Third party desciption"},"entryData":{"type":"string","format":"date-time","description":"Entry data"},"materialSequence":{"type":"integer","format":"int64","description":"Material Sequence"}},"description":"Payment transfer materials list"},"PaymentTransferProcedureVO":{"type":"object","properties":{"procedureCode":{"type":"integer","format":"int64","description":"Procedure code"},"procedureCodeLoc":{"type":"string","description":"Procedure localization code"},"procedureDescription":{"type":"string","description":"Procedure description"},"status":{"type":"string","description":"Transfer status"},"paymentTransferNumber":{"type":"integer","format":"int64","description":"Payment transfer number"},"paymentTransferAmount":{"type":"number","description":"payment transfer amount"},"submittedValue":{"type":"number","description":"Submitted value"},"thirdPartyCode":{"type":"integer","format":"int64","description":"third party code"},"legalEntityCode":{"type":"string","description":"Legal entity code"},"personCode":{"type":"string","description":"Person code"},"thirdPartyDescription":{"type":"string","description":"Third party description"},"entryData":{"type":"string","format":"date-time","description":"Entry data"},"procedureSequence":{"type":"integer","format":"int64","description":"Procedure sequence"}},"description":"Payment transfer procedures list"},"AttributesExam":{"type":"object","properties":{"prescriptionNumber":{"type":"integer","format":"int64"},"sequenceNumber":{"type":"integer","format":"int64"},"username":{"type":"string"},"registerDate":{"type":"string"},"releaseDate":{"type":"string"},"dsInformation":{"type":"string"},"ieCriticalFind":{"type":"string"},"cdNaturalPerson":{"type":"string"}}},"ExamsDto":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"exams":{"type":"array","items":{"$ref":"#/definitions/AttributesExam"}}}},"AddPurchaseMeasurementUnitVO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"measurementUnit":{"$ref":"#/definitions/UnitOfMeasurementVO"},"conversion":{"type":"number","format":"double"},"material":{"$ref":"#/definitions/MaterialSimpleVO"},"establishment":{"$ref":"#/definitions/EstablishmentVO"},"lastUpdate":{"type":"string","format":"date-time"}}},"EstablishmentVO":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Establishment code"},"description":{"type":"string","description":"Establishment description"},"companyId":{"type":"integer","format":"int32","description":"Company id"}},"description":"Establishment"},"MaterialSimpleVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":14251,"description":"Information automatically generated by the system with the material/medication identification code."},"description":{"type":"string","example":"Tylenol 750 mg cp","description":"Enter a description which will be used as a name for the material/medicine name."}}},"UnitOfMeasurementVO":{"type":"object","properties":{"code":{"type":"string","example":"Enema","description":"Enter the code to be used as the unit of measurement."},"description":{"type":"string","example":"Enema","description":"Enter the description of the unit of measurement, which will be used as the unit name."},"situation":{"type":"string","example":"A","description":"Check to set the situation as active."},"lastUpdate":{"type":"string","format":"date-time","example":"2008-05-25T02:52:14Z","description":"Information automatically generated by the system based on the default date/time of the database."},"creationDate":{"type":"string","format":"date-time","example":"2000-05-25T02:52:14Z","description":"Information automatically generated by the system with the date the record was created"},"lastUpdateUser":{"type":"string","example":"Tasy","description":"Information automatically generated by the system based on the authenticated user."},"creationUser":{"type":"string","example":"asimovger","description":"Information automatically generated by the system with the user who created the record."},"mainMeasureUnit":{"type":"string","example":"box","description":"Specify the main unit of measurement (external). Ex: box, package."},"secondaryMeasureUnit":{"type":"string","example":"kg","description":"Inform the secondary unit of measurement (internal). Ex.: kg, gram, liter."},"defaultQuantity":{"type":"number","format":"double","example":1.0,"description":"Specify the default quantity between the main and secondary units"},"fractionalDose":{"type":"string","example":"S","description":"Defines whether, for this measurement unit, the system should display the fractioned dose in cases of 0.25 / 0.50 / 0.75","enum":["S","N"]},"processMeasureUnit":{"type":"string","example":"ml","description":"Select the unit of measurement to which the medicine must be converted for administration in the eMAR process"},"allowsFraction":{"type":"string","example":"S","description":"Defines whether, for this unit of measurement, fractioning of quantities is allowed (e.g.: 2.5 ml, 1 box). If unchecked, the previous example of the boxes may be restricted. This identification is made in the adjustment of amounts of execution and loan of materials."},"administerDilution":{"type":"string","example":"S","description":"Defines whether, for this unit of measurement, dilution."},"externalCode":{"type":"string","description":"Specify the code of the relationship with the previous system. May be used for routines with an external system"},"ptuMeasureUnit":{"type":"string","example":"PAS","description":"Enter the code (description) of the unit of measurement according to the PTU file. This field will be used when importing the A900 file to obtain the unit of measurement corresponding to the imported material."},"ptuMeasureUnitCode":{"type":"string","example":"FRS","description":"Enter the code of the unit of measurement according to the PTU file. This field will be used for generating A500 and A700 files to obtain the unit of measure corresponding to the material."},"multipliesApplication":{"type":"string","example":"S","description":"Select the department for a rule of invoice series numbering."},"tissMeasureUnit":{"type":"integer","format":"int64","example":2,"description":"Select the TISS unit of measurement corresponding to this unit of measurement"},"anvisaMeasureUnit":{"type":"string","example":"MCG","description":"Select the Anvisa standard unit of measure corresponding to the unit being created","enum":["Gts","UE100","kg","MEQ","UI","MCG","L","cm","UNI","ml","mg","g"]}}},"DateInput":{"type":"object","properties":{"date":{"type":"string","format":"date-time"},"instant":{"type":"string","format":"date-time"}},"description":"Date final of the purchase request","example":"2008-02-27"},"AuthorizationInformationDTO":{"type":"object","properties":{"authorizationNumber":{"type":"string"},"date":{"type":"string","format":"date-time"},"source":{"type":"string"}}},"ChargeToPracticeDTO":{"type":"object","properties":{"dollarAmount":{"$ref":"#/definitions/DollarAmountDTO"},"chargeCode":{"$ref":"#/definitions/CodedElementDTO"}}},"CodedElementDTO":{"type":"object","properties":{"identifier":{"type":"string"},"text":{"type":"string"},"nameOfCodingSystem":{"type":"string"},"alternateIdentifier":{"type":"string"},"alternateText":{"type":"string"},"nameOfAlternateCodingSystem":{"type":"string"}}},"CodedWithExceptions":{"type":"object","properties":{"identifier":{"type":"string"},"text":{"type":"string"},"nameOfCodingSystem":{"type":"string"},"alternateIdentifier":{"type":"string"},"alternateText":{"type":"string"},"nameOfAlternateCodingSystem":{"type":"string"},"codingSystemVersionId":{"type":"string"},"alternateCodingSystemVersionId":{"type":"string"},"originalText":{"type":"string"},"secondAlternateIdentifier":{"type":"string"},"secondAlternateText":{"type":"string"},"nameOfSecondAlternateCodingSystem":{"type":"string"},"secondAlternateCodingSystemVersionId":{"type":"string"},"codingSystemOid":{"type":"string"},"valueSetOid":{"type":"string"},"valueSetVersionId":{"type":"string"},"alternateCodingSystemOid":{"type":"string"},"alternateValueSetOid":{"type":"string"},"alternateValueSetVersionId":{"type":"string"},"secondAlternateCodingSystemOid":{"type":"string"},"secondAlternateValueSetOid":{"type":"string"},"secondAlternateValueSetVersionId":{"type":"string"}}},"CompositeIdNumberAndNameDTO":{"type":"object","properties":{"idnumber":{"type":"string"},"familyName":{"type":"string"},"givenName":{"type":"string"},"secondAndFurtherGivenNamesOrInitialsThereof":{"type":"string"},"sourceTable":{"type":"string"},"assigningAuthorityNamespaceId":{"type":"string"},"assigningAuthorityUniversalId":{"type":"string"},"assigningAuthorityUniversalIdtype":{"type":"string"},"suffixEgJrorIii":{"type":"string"},"prefixEgDr":{"type":"string"},"degreeEgMd":{"type":"string"}}},"CompositePrice":{"type":"object","properties":{"price":{"$ref":"#/definitions/MoneyDTO"},"priceType":{"type":"string"},"fromValue":{"type":"string"},"toValue":{"type":"string"},"rangeUnits":{"$ref":"#/definitions/CodedElementDTO"},"rangeType":{"type":"string"}}},"CompositeQuantityWithUnitsDTO":{"type":"object","properties":{"quantity":{"type":"string"},"units":{"type":"string"}}},"DateTimeDTO":{"type":"object","properties":{"timeOfAnEvent":{"type":"string"},"degreeOfPrecision":{"type":"string"}}},"DateTimeRangeDTO":{"type":"object","properties":{"rangeStartDateTime":{"$ref":"#/definitions/DateTimeDTO"},"rangeEndDateTime":{"$ref":"#/definitions/DateTimeDTO"}}},"DischargedToLocationDTO":{"type":"object","properties":{"dischargedLocation":{"type":"string"},"dateTime":{"$ref":"#/definitions/DateTimeDTO"}}},"DollarAmountDTO":{"type":"object","properties":{"quantity":{"type":"string"},"denomination":{"type":"string"}}},"DriversLicenseNumberDTO":{"type":"object","properties":{"driversLicenseNumber":{"type":"string"},"issuingStateProvinceCountry":{"type":"string"},"driversLicenseExpDate":{"type":"string","format":"date"}}},"EnterersLocationDTO":{"type":"object","properties":{"pointOfCare":{"type":"string"},"room":{"type":"string"},"bed":{"type":"string"},"facility":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"locationStatus":{"type":"string"},"personLocationType":{"type":"string"},"building":{"type":"string"},"floor":{"type":"string"},"locationDescription":{"type":"string"}}},"EntityIdentifierDTO":{"type":"object","properties":{"entityIdentifier":{"type":"string"},"namespaceId":{"type":"string"},"universalId":{"type":"string"},"universalIdType":{"type":"string"}}},"EntityIdentifierPairDTO":{"type":"object","properties":{"placerAssignedIdentifier":{"$ref":"#/definitions/EntityIdentifierDTO"},"fillerAssignedIdentifier":{"$ref":"#/definitions/EntityIdentifierDTO"}}},"ExtendedAddressDTO":{"type":"object","properties":{"streetAddress":{"$ref":"#/definitions/StreetAddressDTO"},"otherDesignation":{"type":"string"},"city":{"type":"string"},"stateOrProvince":{"type":"string"},"zipOrPostalCode":{"type":"string"},"country":{"type":"string"},"addressType":{"type":"string"},"otherGeographicDesignation":{"type":"string"},"countyParishCode":{"type":"string"},"censusTract":{"type":"string"},"addressRepresentationCode":{"type":"string"},"addressValidityRange":{"$ref":"#/definitions/DateTimeRangeDTO"}}},"ExtendedCompositeIDChkDigitDTO":{"type":"object","properties":{"id":{"type":"string"},"checkDigit":{"type":"string"},"codeIdentifyingTheCheckDigitSchemeEmployed":{"type":"string"},"assigningAuthority":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"identifierTypeCode":{"type":"string"},"assigningFacility":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"effectiveDate":{"type":"string","format":"date"},"expirationDate":{"type":"string","format":"date"}}},"ExtendedCompositeNameAndIdNumForOrg":{"type":"object","properties":{"organizationName":{"type":"string"},"organizationNameTypeCode":{"type":"string"},"idNumber":{"type":"string"},"checkDigit":{"type":"string"},"codeIdentifyingTheCheckDigitSchemeEmployed":{"type":"string"},"assigningAuthority":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"identifierTypeCode":{"type":"string"},"assigningFacilityId":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"nameRepresentationCode":{"type":"string"}}},"ExtendedCompositeNumAndNameDTO":{"type":"object","properties":{"idNumber":{"type":"string"},"familyName":{"$ref":"#/definitions/FamilyNameDTO"},"givenName":{"type":"string"},"secondAndFurtherGivenNamesOrInitialsThereof":{"type":"string"},"suffix":{"type":"string"},"prefix":{"type":"string"},"degree":{"type":"string"},"sourceTable":{"type":"string"},"assigningAuthority":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"nameTypeCode":{"type":"string"},"identifierCheckDigit":{"type":"string"},"codeIdentifyingTheCheckDigitSchemeEmployed":{"type":"string"},"identifierTypeCode":{"type":"string"},"assigningFacility":{"$ref":"#/definitions/HierarchicDesignatorDTO"},"nameRepresentationCode":{"type":"string"},"nameContextObject":{"$ref":"#/definitions/CodedElementDTO"},"nameValidityRange":{"$ref":"#/definitions/NameValidityRangeDTO"},"nameAssemblyOrder":{"type":"string"},"enteredByUserName":{"type":"string"}}},"ExtendedPersonNameDTO":{"type":"object","properties":{"familyName":{"$ref":"#/definitions/FamilyNameDTO"},"givenName":{"type":"string"},"secondAndFurtherGivenNamesOrInitialsThereof":{"type":"string"},"suffix":{"type":"string"},"prefix":{"type":"string"},"degree":{"type":"string"},"nameTypeCode":{"type":"string"},"nameRepresentationCode":{"type":"string"},"nameContext":{"$ref":"#/definitions/CodedElementDTO"},"nameValidityRange":{"$ref":"#/definitions/DateTimeRangeDTO"},"nameAssemblyOrder":{"type":"string"}}},"ExtendedTelecommunicationNumberDTO":{"type":"object","properties":{"telephoneNumber":{"type":"string"},"telecommunicationUseCode":{"type":"string"},"telecommunicationEquipmentType":{"type":"string"},"emailAddress":{"type":"string"},"countryCode":{"type":"string"},"areaCityCode":{"type":"string"},"phoneNumber":{"type":"string"},"extension":{"type":"string"},"anyText":{"type":"string"}}},"FamilyNameDTO":{"type":"object","properties":{"surname":{"type":"string"},"ownSurnamePrefix":{"type":"string"},"ownSurname":{"type":"string"},"surnamePrefixFromPartnerSpouse":{"type":"string"},"surnameFromPartnerSpouse":{"type":"string"}}},"FinancialClassDTO":{"type":"object","properties":{"financialClassCode":{"type":"string"}}},"HierarchicDesignatorDTO":{"type":"object","properties":{"namespaceId":{"type":"string"},"universalId":{"type":"string"},"universalIdType":{"type":"string"}}},"IN1":{"type":"object","properties":{"setIdIN1":{"type":"string"},"insurancePlanId":{"$ref":"#/definitions/CodedElementDTO"},"insuranceCompanyId":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeIDChkDigitDTO"}},"insuranceCompanyNameDto":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeNameAndIdNumForOrg"}},"insuranceCompanyAddress":{"type":"array","items":{"$ref":"#/definitions/ExtendedAddressDTO"}},"insuranceCoContactPerson":{"type":"array","items":{"$ref":"#/definitions/ExtendedPersonNameDTO"}},"insuranceCoPhoneNumber":{"type":"array","items":{"$ref":"#/definitions/ExtendedTelecommunicationNumberDTO"}},"groupNumber":{"type":"string"},"groupName":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeNameAndIdNumForOrg"}},"insuredsGroupEmpId":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeIDChkDigitDTO"}},"insuredsGroupEmpName":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeNameAndIdNumForOrg"}},"planEffectiveDate":{"type":"string","format":"date"},"planExpirationDate":{"type":"string","format":"date"},"authorizationInformation":{"$ref":"#/definitions/AuthorizationInformationDTO"},"planType":{"type":"string"},"nameOfInsured":{"$ref":"#/definitions/ExtendedPersonNameDTO"},"insuredSRelationshipToPatient":{"$ref":"#/definitions/CodedElementDTO"},"insuredSDateOfBirth":{"$ref":"#/definitions/DateTimeDTO"},"insuredSAddress":{"type":"array","items":{"$ref":"#/definitions/ExtendedAddressDTO"}},"assignmentOfBenefits":{"type":"string"},"coordinationOfBenefits":{"type":"string"},"coordOfBenPriority":{"type":"string"},"noticeOfAdmissionFlag":{"type":"string"},"noticeOfAdmissionDate":{"type":"string","format":"date-time"},"reportOfEligibilityFlag":{"type":"string"},"reportOfEligibilityDate":{"type":"string","format":"date-time"},"releaseInformationCode":{"type":"string"},"preAdmitCert":{"type":"string"},"verificationDateTime":{"$ref":"#/definitions/DateTimeDTO"},"verificationBy":{"$ref":"#/definitions/ExtendedCompositeNumAndNameDTO"},"typeOfAgreementCode":{"type":"string"},"billingStatus":{"type":"string"},"lifetimeReserveDays":{"type":"string"},"delayBeforeLRday":{"type":"string"},"companyPlanCode":{"type":"string"},"policyNumber":{"type":"string"},"policyDeductible":{"$ref":"#/definitions/CompositePrice"},"policyLimitAmount":{"$ref":"#/definitions/CompositePrice"},"policyLimitDays":{"type":"string"},"roomRateSemiPrivate":{"$ref":"#/definitions/CompositePrice"},"roomRatePrivate":{"$ref":"#/definitions/CompositePrice"},"insuredSEmploymentStatus":{"$ref":"#/definitions/CodedElementDTO"},"insuredSAdministrativeSex":{"type":"string"},"insuredSEmployerSAddress":{"type":"array","items":{"$ref":"#/definitions/ExtendedAddressDTO"}},"verificationStatus":{"type":"string"},"priorInsurancePlanId":{"type":"string"},"coverageType":{"type":"string"},"handicap":{"type":"string"},"insuredSIdnumber":{"type":"array","items":{"$ref":"#/definitions/ExtendedCompositeIDChkDigitDTO"}},"omlIN1Fields":{"$ref":"#/definitions/OmlIN1ExtraFields"}}},"IN2":{"type":"object","properties":{"dummy":{"type":"string"}}},"IN3":{"type":"object","properties":{"dummy":{"type":"string"}}},"MoneyDTO":{"type":"object","properties":{"quantity":{"type":"string"},"denomination":{"type":"string"}}},"NameValidityRangeDTO":{"type":"object","properties":{"rangeStartDateTime":{"$ref":"#/definitions/DateTimeDTO"},"rangeEndDateTime":{"$ref":"#/definitions/DateTimeDTO"}}},"NotesAndComments":{"type":"object","properties":{"setIDNte":{"type":"string"},"sourceOfComment":{"type":"string"},"comment":{"type":"array","items":{"type":"string"}},"commentType":{"$ref":"#/definitions/CodedWithExceptions"},"enteredBy":{"$ref":"#/definitions/ExtendedCompositeNumAndNameDTO"},"enteredDateTime":{"type":"string"},"effectiveStartDate":{"type":"string"},"expirationDate":{"type":"string"}}},"NumericArrayDTO":{"type":"object","properties":{"value1":{"type":"integer",
[...]
